@model IEnumerable<PruebaApi.Models.TalleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Talle1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Talle1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdTalle  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdTalle  })
        </td>
    </tr>
}

</table>
